# Dependencies
node_modules/

# React Native
.bundle/
.expo/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.aab
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata
DerivedData/

# Metro
.metro-health-check*

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Buck
buck-out/
\.buckd/

# Temporary
*.orig
*.swp
*~
